.bg-brand {
  background: rgb(55,85,175);
  background: linear-gradient(45deg, rgba(55,85,175,1) 35%, rgba(65,55,175,1) 65%);
}

header .logos {
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

header .logos img:first-of-type {
  margin-right: 1rem;
}
