{{ partial "head" . }}

<body>

  {{ partial "header" . }}

  <main class="container py-5">
    <h2>{{ .Title }}</h2>
    
    {{ .Content }}
  </main>

  {{ partial "footer" . }}

</body>

{{ partial "foot" . }}
