<header class="bg-brand">
  <div class="container py-5 text-white">
    <div class="row">
      <div class="col-md">
        <h1><a href="{{ .Site.BaseURL }}" class="link-light"><b>{{ .Site.Title }}</b></a></h1>
        <p class="lead">{{ .Site.Params.Lead }}</p>
        <p>{{ .Site.Params.Description }}</p>
      </div>
      <div class="col-md">
        <ul>
          <li><a class="link-light p-2" href="https://mycourses.aalto.fi/course/view.php?id=28372" target="_blank">MyCourses Page</a></li>
          <li><a class="link-light p-2" href="https://gitlab.com/aaltofablab/digital-fabrication-2021" target="_blank">GitLab Repository</a></li>
          <li><a class="link-light p-2" href="https://fabacademy.org" target="_blank">Fab Academy</a></li>
          <li><a class="link-light p-2" href="https://fablab.aalto.fi" target="_blank">Aalto Fablab</a></li>
        </ul>
      </div>
    </div>

    <div class="logos">
      <img class="mh-100" src="{{ .Site.BaseURL }}assets/images/fablablogo-white.svg" alt="Aalto Fablab Logo">
      <img class="mh-100" src="{{ .Site.BaseURL }}assets/images/aalto-logo-white.svg" alt="Aalto University Logo">
    </div>
  </div>
</header>
