<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">

  <title>{{ .Title }} - {{ .Site.Title }}</title>

  <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/main.css?{{ now.Unix }}">
</head>
