<div class="card">
  <img src="{{ .Get `imgsrc` }}" class="card-img-top" alt="{{ .Get `imgalt` }}">
  <div class="card-body">
    <h5 class="card-title">{{ .Get `title` }}</h5>
    <a href="{{ .Get `href` }}" class="btn btn-primary">{{ .Get `hreftext` }}</a>
  </div>
</div>
